.question-text {
  font-size: large;
  margin: 0;
}

.question-description {
  font-size: small;
  color: var(--ion-color-step-600);
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
}

.action-button {
  margin-left: 20px;
}

.category-name {
  color: var(--ion-color-step-900);
  margin-left: 10px;
}
