ion-toolbar.md {
  --background: #242537;
}

ion-content.dark{
  --background: var(--black);
}
ion-list ion-item.striped:nth-child(even), ion-list.striped ion-item:nth-child(even) {
  --background: var(--ion-background-color-alt);
}
ion-item.title {
  --background: #242537;
}