h3 {
  padding-left: 20px;
}

.box {
  color: var(--ion-text-color);
  text-align: center;
  height: 70px;
}
.box ion-text {
  text-decoration: none;
}

ion-col.menu-item div {
  height: 110px;
  padding: 20px 0 20px 0;
  border-radius: 5px;
  color: white;
}

ion-col.menu-item a {
  text-transform: uppercase;
  text-decoration: none;
}

ion-col.menu-item a ion-icon {
  font-size: 40px !important;
}

ion-col.menu-item a ion-text {
  font-size: 14px;
}

ion-col.menu-item div:hover {
  background: var(--red-bright);
}

ion-label.sectionLabel {
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--ion-default-font);
  font-size: 20px;
  padding: 20px 10px;
}

ion-text h3 {
  color: #ffffff;
}

ion-text.appTitle {
  text-decoration: none;
}
ion-col div.infoDisc {
  margin-top: 10px;
  margin: auto;
  min-width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 3px solid var(--red-bright);
  text-align: center;
  padding: 6px 7px 8px 7px;
  font-size: 20px;
}

ion-col div.infoDisc.small {
  width: 70px;
}
