h3 {
	padding-left: 20px;
}

.box {
	color: var(--ion-text-color);
	text-align: center;
	height: 70px;
}
.box ion-text {
	text-decoration: none;
}

.card-area {
	background-color: var(--ion-color-light, #fff);
	padding: 20px 0;
}

.alert-card {
	box-shadow: 0 4px 8px 0 rgba(var(--ion-color-medium-rgb));
	border-radius: 5px;
	padding: 0 0 0 30px;
	margin: 10px 20px;
	color: var(--ion-color-dark, #000);
}
.alert-card.danger {
	background-color: var(--ion-color-danger, red);
}
.alert-card.warning {
	background-color: var(--ion-color-warning, orange);
}
.alert-card.primary {
	background-color: var(--ion-color-primary, blue);
}
.alert-card.success {
	background-color: var(--ion-color-success, darkgreen);
}
.alert-card.secondary {
	background-color: var(--ion-color-secondary, red);
}
.alert-card-content {
	background-color: var(--ion-color-light, #fff);
	padding: 10px;
	border-radius: 0 5px 5px 0;
}

.alert-card h4, .alert-card p {
	padding: 0;
	margin: 0;
}