.profileContainer {
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.profileImage {
  width: 80px;
  height: 80px;
  margin: auto;
}

/* ion-label.ios, ion-label.md{
  color: var(--theme-text-color-dark) !important;
} */

.centerAlign {
  text-align: center;
}

ion-card.userDetails {
  --background: transparent;
}

ion-chip.roles {
  --background: var(--red-bright);
}

ul.roleList {
  list-style: none;
  padding-left: 0px;
}

ul.roleList li {
  float: left;
}

ion-card {
  border-top: 5px solid var(--ion-color-primary);
}

ion-card.dark {
  color: var(--grey-light);
  --background: #242537;
  border-radius: 4px;
}

ion-card.light {
  --background: #ffffff;
  color: var(--theme-text-color-dark);
}

ion-card.light ion-card-title {
  color: var(--theme-text-color-dark);
}

ion-card.no-shadow {
  box-shadow: none;
}

ion-card.dark input.native-input[disabled],
ion-card.light input.native-input[disabled],
ion-card.dark textarea.native-textarea[disabled] {
  opacity: 0.6;
}

.hidden {
  display: none;
}

ion-label.trigger {
  cursor: pointer;
}

ion-note.danger {
  color: red;
  font-size: 12px;
}
