#notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}

#notifications-badge {
    background-color: var(--ion-color-danger);
    position: absolute;
    top: 0;
    right: -3px;
    border-radius: 100%;
}
.home-link {
    color: var(--ion-color-light);
}