ion-card.list{
  border: none;
  border-left: 3px solid var(--red-bright);
}

ion-card.list ion-card-title{
  font-size:15px;
}

ion-card.list ion-card-title p{
  margin-bottom: 0px
}

ion-card.list ion-chip{
  font-size: 13px;
  padding: 8px;
  height: 25px;
}

ion-icon.userOptions{
  color: var(--red-bright);
  font-size: 18px;
}

ion-card-header, ion-card-content {
  padding: 0 !important;
}
ion-card-title {
  padding-top: 5px;
}
ion-row {
  margin-bottom: 0;
}

.userEditButton {
  float: right;
  height: 25px;
}
.userEditButton ion-icon {
  margin: -20px -9px 0 0;
}
a {
  text-decoration: none;
}

ion-select-option {
  color: var(--black);
}