ion-menu {
	width: 300px;
}

ion-content.dark ion-label,
ion-content.dark ion-select {
	color: #fff !important;
}

ion-card.light ion-select,
ion-card.light ion-label {
	color: #000 !important;
}


ion-card.dark ion-select,
ion-card.dark ion-label {
	color: #FFF !important;
}
