ion-menu {
  width: 300px;
}

ion-modal {
  color: #000 !important;
}

ion-content.dark ion-label,
ion-content.dark ion-select {
  color: #fff !important;
}

ion-card.light ion-select,
ion-card.light ion-label,
ion-card.light ion-datetime {
  color: #000 !important;
}

ion-card.dark ion-select,
ion-card.dark ion-label {
  color: #fff !important;
}

.frf-modal-feedback-type,
.frf-modal-feedback-types {
  padding: 5px 0;
}
.frf-modal-container {
  border: 1px solid #000;
}
