.date-number {
    font-size: xx-large;
    text-align: center;
}
.month-name {
    color: var(--ion-color-danger);
    text-align: center;
}

.event-name {
    font-size: x-large;
    padding-bottom: 7px;
}
.event-type {
    font-size: large;
    color: var(--ion-color-step-500);
}
.actions ion-title {
    font-size: medium;
}
.actions ion-icon {
    font-size: xx-large;
}
ion-row {
    margin-bottom:16px;
}

.going {
    color: var(--ion-color-success);
}

.cant_go {
    color: var(--ion-color-danger);
}

.maybe {
    color: var(--ion-color-warning);
}
.selected {
    background-color: var(--ion-color-step-300);
}
.icon-medium {
    font-size: large;
}

.actions ion-col{
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

.actions ion-col:hover{
    background: var(--red-bright);
}

ion-label.error{
    color: #FFFFFF !important;    
}

ion-alert .alert-radio-label, ion-alert .alert-checkbox-label{
    color: var(--black) !important;
}

ion-card.light ion-checkbox{
    --border-color: var(--black)
}

ion-card.dark ion-checkbox{
    --border-color: #FFFFFF;
}

ion-card.light ion-label.label-stacked,
ion-card.light ion-label,
ion-card.light ion-input,
ion-card.light ion-textarea,
ion-card.light ion-select,
ion-card.light ion-select .select-text{
    --color: #000;
    color:#000 !important;
    --placeholder-color: #000; 
}

h3.no-padding{
    padding: 0;
}

.popover-content{
    padding: 10px;
}

ion-input.search{
    --background: var(--black)
}

ion-select.in-item{
    max-width: 100%;
}

@media (max-width: 500px){
    ion-card-content{
        padding:0;
    }
}

ion-chip.selected{
    background: #ED1849;
    color: #FFF
}

.pl-20{
    padding-left: 20px !important;
}