.date-number {
    font-size: xx-large;
    text-align: center;
}
.month-name {
    color: var(--ion-color-danger);
    text-align: center;
}

.event-name {
    font-size: x-large;
    padding-bottom: 7px;
}
.event-type {
    font-size: large;
    color: var(--ion-color-step-500);
}
.actions ion-title {
    font-size: medium;
}
.actions ion-icon {
    font-size: xx-large;
}
ion-row {
    margin-bottom:16px;
}

.going {
    color: var(--ion-color-success);
}

.cant_go {
    color: var(--ion-color-danger);
}

.maybe {
    color: var(--ion-color-warning);
}
.selected {
    background-color: var(--ion-color-step-300);
}
.icon-medium {
    font-size: large;
}

.actions ion-col{
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

.actions ion-col:hover{
    background: var(--red-bright);
}

ion-label.error{
    color: #FFFFFF !important;    
}

ion-alert .alert-radio-label, ion-alert .alert-checkbox-label{
    color: var(--black) !important;
}

ion-card.light ion-checkbox{
    --border-color: var(--black)
}

ion-card.dark ion-checkbox{
    --border-color: #FFFFFF;
}

h3.no-padding{
    padding: 0;
}

ion-input.search{
    --background: var(--black)
}